<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FMS <%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="https://img.icons8.com/pulsar-color/48/anonymous-mask.png" alt="anonymous-mask" type="image/png">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            box-sizing: border-box;
            background: #fff;
            color: #333;


        }

        nav {
            width: 100%;
            background: linear-gradient(to bottom, #4e54c8, #3b3e9a);
            padding: 1rem 0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 1.1rem;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            transition: background 0.3s, transform 0.2s;
        }

        nav ul li a:hover {
            background: #6c70f1;
            transform: scale(1.1);
        }

        h1 {
            text-align: center;
            margin: 6rem 0 2rem;
            color: #4e54c8;
            font-size: 2.5rem;
            font-weight: bold;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 2rem auto;
            max-width: 800px;
        }

        ul li {
            margin-bottom: 2rem;
        }

        article {
            background: linear-gradient(to bottom, #4e54c8, #6c70f1);
            color: #fff;
            border-radius: 15px;
            padding: 1.5rem;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            position: relative;
            animation: fadeIn 0.5s ease-in-out;
            word-wrap: break-word;
            overflow-wrap: break-word;
            max-width: 100%;
        }

        article h2 a {
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        article h2 a:hover {
            text-decoration: underline;
        }

        article p {
            margin: 0.5rem 0;
            line-height: 1.6;
        }

        article p strong {
            color: #f1f1f1;
        }

        .post-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
        }

        .post-meta p {
            margin: 0;
            font-size: 1rem;
            color: #f1f1f1;
        }



        form button {
            padding: 0.7rem;
            background: #3b3e9a;
            color: #fff;
            border: none;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            transition: background 0.3s ease-in-out, transform 0.2s;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            width: 100px; /* Устанавливаем одинаковую ширину */
            text-align: center; /* Текст по центру кнопки */
        }

        form button:hover {
            background: #6c70f1;
            transform: scale(1.05);
        }

        form button:active {
            transform: scale(1);
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .page-container {
            margin: auto;
            width: 100%;
            max-width: 400px;
            background: linear-gradient(to bottom, #4e54c8, #6c70f1);
            border-radius: 15px;
            color: #fff;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            padding: 2rem;
            text-align: center;


            margin-top: calc(60px + 2rem);
        }

        .page-container h1 {
            font-size: 1.8rem;
            color: #fff;
            margin-bottom: 1.5rem;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
        .page-container p {
            font-size: 1.2rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: rgba(255, 255, 255, 0.9);
        }
        .action {
            text-decoration: none;
            color: #fff;
            background: #3b3e9a;
            padding: 0.7rem 1.4rem;
            margin: 0.5rem;
            border-radius: 15px;
            display: inline-block;
            font-weight: bold;
            transition: background-color 0.3s ease-in-out, transform 0.3s ease;
        }

        .action:hover {
            background: #6c70f1;
            transform: scale(1.05);
        }
    </style>
</head>

<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/add-post">New Post</a></li>
        <li><a href="/contacts">Contacts</a></li>
    </ul>
</nav>

<div class="page-container">
    <h1>Welcome to FMS!</h1>
    <% if (username) { %>
        <p>Logged in as: <%= username %></p>
        <a href="/logout" class="action">Logout</a>
    <% } else { %>
        <a href="/login" class="action">Login</a>
        <a href="/register" class="action">Register</a>
    <% } %>
</div>

<% if (username) { %>
<h1>All your posts</h1>
<% if (posts.length > 0) { %>
<ul>
    <% posts.forEach(post => { %>
        <li>
            <a href="/posts/<%= post._id %>">
                <article>
                    <h2>
                        <a href="/posts/<%= post._id %>" title="View Post">
                            <%= post.title.length > 50 ? post.title.substring(0, 50) + '...' : post.title %>
                        </a>
                    </h2>
                    <p>
                        <%= post.text.length > 150 ? post.text.substring(0, 150) + '...' : post.text %>
                    </p>
                    <h2>⭐
                        <% if (post.averageRating === 'No ratings yet') { %>
                            <em><%= post.averageRating %></em>
                        <% } else { %>
                            <%= post.averageRating %>
                        <% } %>
                    </h2>

                    <div class="post-meta">
                        <p><strong>Author:</strong> <%= post.author %></p>
                        <p><%= post.createdAt.toLocaleDateString() %></p>
                    </div>
                </article>
            </a>
        </li>
    <% }) %>
</ul>
<% } else { %>
    <h2 style="text-align: center">You have no posts. Consider creating one!</h2>
<% } %>
<% } %>
</body>
</html>