<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<article class="post">
  <div class="info">
    <span><%= post.createdAt.toLocaleDateString() || 'No date' %></span>
    <span><%= post.author %></span>
  </div>
  <h1><%= post.title %></h1>
  <p><%= post.text %></p>
  <a href="/edit/<%= post.id %>" class="btn-edit">
    <i class="fas fa-edit"></i>
  </a>
  <button class="btn-delete" data-id="<%= post.id %>">
    <i class="fas fa-trash-alt" data-id="<%= post.id %>"></i>
  </button>
</article>

<h2>Comments</h2>

<ul>
  <% post.comments.forEach(comment => { %>
    <li>
      <p><strong><%= comment.author %>:</strong> <%= comment.text %></p>
      <p><small>Posted on: <%= comment.createdAt.toLocaleString() %></small></p>
    </li>
  <% }) %>
</ul>

<% if (username) { %>
  <!-- Show comment form only if the user is logged in -->
  <form action="/posts/<%= post._id %>/comments" method="POST">
    <textarea name="text" rows="3" cols="40" placeholder="Leave a comment..." required></textarea>
    <button type="submit">Submit</button>
  </form>
<% } else { %>
  <p>You must <a href="/login">log in</a> to add a comment.</p>
<% } %>


<script>
  document.addEventListener('click', (e) => {
    const id = e.target?.dataset?.id || null;
    if (id) {
      fetch(`/posts/${id}`, {
        method: 'DELETE',
      }).then(() => {
        window.location.href = '/posts';
      });
    }
  });
</script>
</body>
</html>